build/
data/jobs/
dist/
.DS_Store
*.egg-info/
*.engine
.env
*.mkv
*.mov
*.mp4
.mypy_cache/
*.onnx
packaging/certs/
*.pt
__pycache__/
*.py[cod]
.pytest_cache/
**/updates/
update-state.json
.venv/
venv/
web/.DS_Store
desktop-downloads/
